<ul class="card-list">
    <li *ngFor="let card of data" class="card-list__item">

        <p class="card-list__item-text">
            <b>Число: </b> 
            <span class="card-list__item-info"> {{ card.day }} </span>
        </p>

        <p class="card-list__item-text">
            <b>День недели: </b> 
            <span class="card-list__item-info"> {{ card.weekday }} </span>
        </p>

        <p class="card-list__item-text">
            <b> Месяц: </b> 
            <span class="card-list__item-info"> {{ card.month }} </span>
        </p>

    </li>
</ul>