@import '../../variables.scss';

.card-list {
    width: 100%;
    margin-top: 60px;
}

.card-list__item {
    min-width: 200px;
    margin-top: 20px;
    border: 1px solid $lightGray;
    background-color: #fff;
    border-radius: 2px;
    padding: 37px 25px;
}

.card-list__item-text {
    margin-top: 20px; 
    color: $lightText;
    font-weight: normal;

    &:first-child {
        margin-top: 0;
    }
}