body {
    margin: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

div, p, input, button, form {
	box-sizing: border-box;
}

button, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

ul, li {
	display: block;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
	text-decoration: none;
	outline: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}